# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Git files
.git/
.gitignore

# IDE/editor folders
.vscode/
.idea/

# Environment files
.env

# Logs
*.log

# Local data
tests/